<div class="container-fluid">
    <div class="heading w-100">Add Salary</div>
    <form [formGroup]="employeeForm" class="employee-form">
        <div class="form-group">
            <label>Employee Id</label>
            <mat-select placeholder="Select Employee Id" formControlName='id' class="form-control">
                <mat-option *ngFor='let employee of employeeDetails' [value]='employee["_id"]' (onSelectionChange)="setSelectedEmployee(employee)">{{employee["_id"]}}</mat-option>
            </mat-select>
        </div>
        <div class="form-group">
            <label>Employee Name</label>
            <input type="text" formControlName="name" placeholder='Employee Name' readonly class="form-control">
        </div>
        <div class="form-group">
            <label>Employee Salary</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fa fa-indian-rupee-sign"></i></span>
                <input type="text" formControlName="salary" readonly class="form-control" placeholder="Employee Salary">
            </div>
        </div>
        <div class="form-group">
            <label>Salary For Month</label>
            <mat-select placeholder="Select Month" formControlName='month' class="form-control">
                <mat-option *ngFor='let month of salaryPendingForMonths' [value]='month'>{{month}}</mat-option>
            </mat-select>
        </div>

        <button class="btn btn-primary">Pay Employee</button>
        
    </form>
</div>  