<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-5">
            <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100">
                <!-- <img src="assets/images/defaultProfile.jpeg" class="img-profile"> -->
                <div [style.background-color]="profilePic.bgColor" class="img-profile">{{profilePic.letter}}</div>
                <button class="btn btn-primary d-block mt-2 " *ngIf="!profile['clockIn'] || profile['clockIn'] && profile['clockOut']" (click)="clockIn()">Clock In
                </button>
                <button class="btn btn-primary d-block mt-2 " *ngIf="!profile['clockOut'] && profile['clockIn']" (click)="clockOut()">Clock Out
                </button>
            </div>

        </div>
        <div class="col-lg-7">
            <div class="d-flex justify-content-center align-items-center h-100">
                <table class="w-75 table table-borderless mx-auto">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>:</td>
                            <td>{{profile['name']}}</td>
                        </tr>
                        <tr>
                            <th>Designation</th>
                            <td>:</td>
                            <td>{{profile['designation']}}</td>
                        </tr>
                        <tr>
                            <th>D.O.B.</th>
                            <td>:</td>
                            <td>{{profile['dob']}}</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>:</td>
                            <td>{{GENDER[profile['gender']]}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>:</td>
                            <td>{{profile['email']}}</td>
                        </tr>
                        <tr>
                            <th>Mobile</th>
                            <td>:</td>
                            <td>{{profile['mobile']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>