<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-colored">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Reason for Leave</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Status</th>
                    <th class="text-center">Approve</th>
                    <th class="text-center">Reject</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leave of pendingLeaves">
                    <td> {{ leave['empId'] || '--' }}</td>
                    <td> {{ leave['empName'] || '--' }}</td>
                    <td> {{ leave['reason'] || '--' }}</td>
                    <td> {{ leave['fromDate'] | date: 'dd-MM-yy hh:mm a'|| '--' }}</td>
                    <td> {{ leave['toDate']| date: 'dd-MM-yy hh:mm a' || '--' }}</td>
                    <td> {{leave['status'] == 1 ? LEAVE_STATUS.APPROVED : (leave['status'] == 0 ? LEAVE_STATUS.WAITING : LEAVE_STATUS.REJECTED)}}</td>
                    <td class="text-center">
                        <button *ngIf="leave['status'] == 0" class="btn btn-outline-success" (click)="approveLeave(leave['_id'])">Approve</button>
                        <span *ngIf="leave['status'] != 0"> -- </span>
                    </td>
                    <td class="text-center">
                        <button *ngIf="leave['status'] == 0" class="btn btn-outline-danger" (click)="rejectLeave(leave['_id'])"><i class='fa fa-trash'></i></button>
                        <span *ngIf="leave['status'] != 0"> -- </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>