<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-colored">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Designation</th>
                    <th>D.O.B</th>
                    <th>Gender</th>
                    <th>Mobile Number</th>
                    <th>Status</th>
                    <th class="text-center">Approve</th>
                    <th class="text-center">Reject</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee['id']}}</td>
                    <td>{{employee['name']}}</td>
                    <td>{{employee['designation']}}</td>
                    <td>{{employee['dob']}}</td>
                    <td>{{employee['gender']}}</td>
                    <td>{{employee['mobileNumber']}}</td>
                    <td>{{employee['status']}}</td>
                    <td class="text-center"><button class="btn btn-outline-success">Approve</button></td>
                    <td class="text-center"><button class="btn btn-outline-danger"><i class='fa fa-trash'></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>