<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-colored">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Designation</th>
                    <th>D.O.B</th>
                    <th>Gender</th>
                    <th>Mobile Number</th>
                    <th>Status</th>
                    <th class="text-center">Approve</th>
                    <th class="text-center">Reject</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee['_id']}}</td>
                    <td>{{employee['name']}}</td>
                    <td>{{employee['designation']}}</td>
                    <td>{{employee['dob']}}</td>
                    <td>{{employee['gender']}}</td>
                    <td>{{employee['mobile']}}</td>
                    <td>{{employee['status'] == 1 ? EMPLOYEE_STATUS.APPROVED : EMPLOYEE_STATUS.WAITING}}</td>
                    <td class="text-center">
                        <button *ngIf="employee['status'] == 0" class="btn btn-outline-success" (click)="approveEmployee(employee['_id'])">Approve</button>
                        <span *ngIf="employee['status'] != 0"> -- </span>
                    </td>
                    <td class="text-center"><button class="btn btn-outline-danger" (click)="rejectEmployee(employee['_id'])"><i class='fa fa-trash'></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>