.login-form {
    width: 60%;
    margin: auto;
    & > *{
        margin-top: 20px;
    }
    input:read-only {
        cursor: not-allowed;
    }
}
@media screen and (max-width: 760px) {
    .login-form {
        width: 90%;
    }
}